@define-color borders_breeze #474a4f;
@define-color content_view_bg_breeze #0f1116;
@define-color error_color_backdrop_breeze #ffb3b4;
@define-color error_color_breeze #ffb3b4;
@define-color error_color_insensitive_backdrop_breeze #887982;
@define-color error_color_insensitive_breeze #887982;
@define-color insensitive_base_color_breeze #1d2024;
@define-color insensitive_base_fg_color_breeze #7f8691;
@define-color insensitive_bg_color_breeze #1d2024;
@define-color insensitive_borders_breeze #33373d;
@define-color insensitive_fg_color_breeze #767e89;
@define-color insensitive_selected_bg_color_breeze #1d2024;
@define-color insensitive_selected_fg_color_breeze #767e89;
@define-color insensitive_unfocused_bg_color_breeze #1d2024;
@define-color insensitive_unfocused_fg_color_breeze #767e89;
@define-color insensitive_unfocused_selected_bg_color_breeze #1d2024;
@define-color insensitive_unfocused_selected_fg_color_breeze #767e89;
@define-color link_color_breeze #8fc9fc;
@define-color link_visited_color_breeze #ebb2ff;
@define-color success_color_backdrop_breeze #00e479;
@define-color success_color_breeze #00e479;
@define-color success_color_insensitive_backdrop_breeze #418a74;
@define-color success_color_insensitive_breeze #418a74;
@define-color theme_base_color_breeze #0f1116;
@define-color theme_bg_color_breeze #1d2024;
@define-color theme_button_background_backdrop_breeze #282a2f;
@define-color theme_button_background_backdrop_insensitive_breeze #1d2024;
@define-color theme_button_background_insensitive_breeze #1d2024;
@define-color theme_button_background_normal_breeze #282a2f;
@define-color theme_button_decoration_focus_backdrop_breeze #a7c8ff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #6e7e96;
@define-color theme_button_decoration_focus_breeze #a7c8ff;
@define-color theme_button_decoration_focus_insensitive_breeze #6e7e96;
@define-color theme_button_decoration_hover_backdrop_breeze #a7c8ff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #6e7e96;
@define-color theme_button_decoration_hover_breeze #a7c8ff;
@define-color theme_button_decoration_hover_insensitive_breeze #6e7e96;
@define-color theme_button_foreground_active_backdrop_breeze #c4c6cf;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #767e89;
@define-color theme_button_foreground_active_breeze #04305f;
@define-color theme_button_foreground_active_insensitive_breeze #767e89;
@define-color theme_button_foreground_backdrop_breeze #e1e2e9;
@define-color theme_button_foreground_backdrop_insensitive_breeze #7f8691;
@define-color theme_button_foreground_insensitive_breeze #7f8691;
@define-color theme_button_foreground_normal_breeze #e1e2e9;
@define-color theme_fg_color_breeze #c4c6cf;
@define-color theme_header_background_backdrop_breeze #1d2024;
@define-color theme_header_background_breeze #1d2024;
@define-color theme_header_background_light_breeze #1d2024;
@define-color theme_header_foreground_backdrop_breeze #c4c6cf;
@define-color theme_header_foreground_breeze #c4c6cf;
@define-color theme_header_foreground_insensitive_backdrop_breeze #c4c6cf;
@define-color theme_header_foreground_insensitive_breeze #c4c6cf;
@define-color theme_hovering_selected_bg_color_breeze #bdc7dc;
@define-color theme_selected_bg_color_breeze #a7c8ff;
@define-color theme_selected_fg_color_breeze #04305f;
@define-color theme_text_color_breeze #e1e2e9;
@define-color theme_titlebar_background_backdrop_breeze #1d2024;
@define-color theme_titlebar_background_breeze #1d2024;
@define-color theme_titlebar_background_light_breeze #1d2024;
@define-color theme_titlebar_foreground_backdrop_breeze #c4c6cf;
@define-color theme_titlebar_foreground_breeze #c4c6cf;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #c4c6cf;
@define-color theme_titlebar_foreground_insensitive_breeze #c4c6cf;
@define-color theme_unfocused_base_color_breeze #0f1116;
@define-color theme_unfocused_bg_color_breeze #1d2024;
@define-color theme_unfocused_fg_color_breeze #c4c6cf;
@define-color theme_unfocused_selected_bg_color_alt_breeze #394456;
@define-color theme_unfocused_selected_bg_color_breeze #394456;
@define-color theme_unfocused_selected_fg_color_breeze #c4c6cf;
@define-color theme_unfocused_text_color_breeze #e1e2e9;
@define-color theme_unfocused_view_bg_color_breeze #1d2024;
@define-color theme_unfocused_view_text_color_breeze #7f8691;
@define-color theme_view_active_decoration_color_breeze #3e5f90;
@define-color theme_view_hover_decoration_color_breeze #3e5f90;
@define-color tooltip_background_breeze #1d2024;
@define-color tooltip_border_breeze #4e5155;
@define-color tooltip_text_breeze #e1e2e9;
@define-color unfocused_borders_breeze #474a4f;
@define-color unfocused_insensitive_borders_breeze #33373d;
@define-color warning_color_backdrop_breeze #fcb38a;
@define-color warning_color_breeze #fcb38a;
@define-color warning_color_insensitive_backdrop_breeze #877976;
@define-color warning_color_insensitive_breeze #877976;
